In [24]:
import pandas as pd
import numpy as np

In [23]:
import plotly.plotly as py
import plotly.graph_objs as go
import plotly
plotly.tools.set_credentials_file(username='jamesjynus', api_key='EHiMuIyiGmiECXH95m9u')

In [43]:
total = pd.read_csv('total.csv', index_col = 0)

In [44]:
def institution_classifier(x):
    if 'Investing' in x:
        return True
    elif 'Capital' in x:
        return True
    elif 'Research' in x:
        return True
    elif 'Investments' in x:
        return True
    elif 'Analyst' in x:
        return True
    elif 'Management' in x:
        return True
    elif 'Analytics' in x:
        return True
    elif 'Trader' in x:
        return True
    elif 'Stocks' in x:
        return True
    elif 'Investor' in x:
        return True
    elif 'Exchange' in x:
        return True
    elif 'Skeptic' in x:
        return True
    elif 'Approach' in x:
        return True
    elif 'Fund' in x:
        return True
    elif 'Stock' in x:
        return True
    elif len(x.split(' ')) == 1:
        return True
    else:
        return False

In [45]:
total['Institution'] = total.Issuer.apply(institution_classifier)

In [46]:
institution = total[total['Institution'] == True]

In [47]:
total.to_csv('total.csv')

In [48]:
individual = total[total['Institution'] == False]

In [146]:
individual_long = individual[individual.Strategy == 'Long'][['Ticker', 'Strategy', 'Institution', 'Week_Return', 'Month_Return', 'Quarter_Return', 'Semi_Return', 'Annual_Return']]
institution_long = institution[institution.Strategy == 'Long'][['Ticker', 'Strategy', 'Institution', 'Week_Return', 'Month_Return', 'Quarter_Return', 'Semi_Return', 'Annual_Return']]

individual_short = individual[individual.Strategy == 'Short'][['Ticker', 'Strategy', 'Institution', 'Week_Return', 'Month_Return', 'Quarter_Return', 'Semi_Return', 'Annual_Return']]
institution_short = institution[institution.Strategy == 'Short'][['Ticker', 'Strategy', 'Institution', 'Week_Return', 'Month_Return', 'Quarter_Return', 'Semi_Return', 'Annual_Return']]

In [83]:
market_index1 = market_index.T[[0,3,12,25,48]]

In [85]:
market_index1.columns = [['Week_Return','Month_Return', 'Quarter_Return','Semi_Return','Annual_Return']]

In [87]:
market_index1.to_csv('market_index1.csv')

In [96]:
individual_long['week_beat'] = individual_long.Week_Return > market_index1.Week_Return[0]
individual_long['month_beat'] = individual_long.Month_Return > market_index1.Month_Return[0]
individual_long['quarter_beat'] = individual_long.Quarter_Return > market_index1.Quarter_Return[0]
individual_long['semi_beat'] = individual_long.Semi_Return > market_index1.Semi_Return[0]
individual_long['annual_beat'] = individual_long.Annual_Return > market_index1.Annual_Return[0]

In [101]:
individual_long[['week_beat', 'month_beat', 'quarter_beat', 'semi_beat', 'annual_beat']]

      week_beat  month_beat  quarter_beat  semi_beat  annual_beat
0          True        True          True       True         True
1         False       False         False      False         True
3          True        True          True       True         True
5          True       False         False      False         True
6          True        True          True       True         True
7          True       False         False      False        False
8          True       False         False      False        False
9         False        True          True      False        False
11         True        True          True      False        False
12         True       False         False      False        False
14         True        True          True       True         True
15        False       False         False      False        False
17        False       False          True       True        False
18         True        True          True       True         True
19         True       False         False      False        False
22        False       False         False      False         True
23         True       False         False      False         True
24        False        True          True      False        False
25        False       False         False      False        False
27        False       False         False      False         True
29         True       False         False      False        False
30         True       False          True       True         True
31        False       False         False      False        False
32        False       False         False      False        False
35        False       False         False      False        False
36         True        True         False      False        False
37        False       False         False      False        False
38         True        True          True      False         True
39        False        True          True       True         True
41         True        True          True       True        False
...         ...         ...           ...        ...          ...
1974       True       False         False      False        False
1975       True        True          True       True        False
1977      False        True          True      False        False
1978      False       False         False      False        False
1980      False       False          True      False        False
1984      False       False         False      False        False
1985      False       False          True       True         True
1992       True       False          True       True        False
1993       True       False         False       True        False
1994      False       False          True       True         True
1996       True       False          True       True         True
1998      False       False         False      False        False
2001       True       False          True       True         True
2002      False       False         False      False        False
2004      False        True          True       True         True
2006      False       False         False      False        False
2007      False       False          True       True         True
2008       True        True         False      False        False
2009       True       False          True       True        False
2010      False       False         False      False        False
2011      False       False         False       True         True
2014       True       False          True       True         True
2015      False       False         False       True         True
2016      False        True          True      False        False
2017      False       False         False      False        False
2019       True        True          True       True         True
2020      False       False         False      False        False
2021       True        True          True      False        False
2022      False       False         False      False        False
2023       True        True         False      False        False

[1327 rows x 5 columns]

In [147]:
individual_short['week_beat'] = -individual_short.Week_Return*2 > market_index1.Week_Return[0]
individual_short['month_beat'] = -individual_short.Month_Return*2 > market_index1.Month_Return[0]
individual_short['quarter_beat'] = -individual_short.Quarter_Return*2 > market_index1.Quarter_Return[0]
individual_short['semi_beat'] = -individual_short.Semi_Return*2 > market_index1.Semi_Return[0]
individual_short['annual_beat'] = -individual_short.Annual_Return*2 > market_index1.Annual_Return[0]

In [148]:
institution_short['week_beat'] = -institution_short.Week_Return*2 > market_index1.Week_Return[0]
institution_short['month_beat'] = -institution_short.Month_Return*2 > market_index1.Month_Return[0]
institution_short['quarter_beat'] = -institution_short.Quarter_Return*2 > market_index1.Quarter_Return[0]
institution_short['semi_beat'] = -institution_short.Semi_Return*2 > market_index1.Semi_Return[0]
institution_short['annual_beat'] = -institution_short.Annual_Return*2 > market_index1.Annual_Return[0]

In [149]:
individual_long['week_beat'] = individual_long.Week_Return > market_index1.Week_Return[0]
individual_long['month_beat'] = individual_long.Month_Return > market_index1.Month_Return[0]
individual_long['quarter_beat'] = individual_long.Quarter_Return > market_index1.Quarter_Return[0]
individual_long['semi_beat'] = individual_long.Semi_Return > market_index1.Semi_Return[0]
individual_long['annual_beat'] = individual_long.Annual_Return > market_index1.Annual_Return[0]

In [150]:
institution_long['week_beat'] = institution_long.Week_Return > market_index1.Week_Return[0]
institution_long['month_beat'] = institution_long.Month_Return > market_index1.Month_Return[0]
institution_long['quarter_beat'] = institution_long.Quarter_Return > market_index1.Quarter_Return[0]
institution_long['semi_beat'] = institution_long.Semi_Return > market_index1.Semi_Return[0]
institution_long['annual_beat'] = institution_long.Annual_Return > market_index1.Annual_Return[0]

In [160]:
bar_data = individual_long.append(institution_long).append(individual_short).append(institution_short).drop(['Week_Return', 'Month_Return','Quarter_Return','Semi_Return','Annual_Return'], axis = 1)

In [162]:
bar_data.groupby(['Strategy', 'Institution']).mean()

                      week_beat  month_beat  quarter_beat  semi_beat  \
Strategy Institution
Long     False         0.437830    0.337604      0.412208   0.435569
         True          0.434097    0.351003      0.382521   0.392550
Short    False         0.366972    0.334862      0.357798   0.307339
         True          0.320000    0.300000      0.360000   0.330000

                      annual_beat
Strategy Institution
Long     False           0.402411
         True            0.320917
Short    False           0.243119
         True            0.280000

In [172]:
bar = bar_data.groupby(['Strategy', 'Institution']).mean()
bar

                      week_beat  month_beat  quarter_beat  semi_beat  \
Strategy Institution
Long     False         0.437830    0.337604      0.412208   0.435569
         True          0.434097    0.351003      0.382521   0.392550
Short    False         0.366972    0.334862      0.357798   0.307339
         True          0.320000    0.300000      0.360000   0.330000

                      annual_beat
Strategy Institution
Long     False           0.402411
         True            0.320917
Short    False           0.243119
         True            0.280000

In [190]:
trace1 = go.Bar(
    x=['% Beat after 1 Week', '% Beat after 1 Month', '% Beat after 3 Month', '% Beat after 6 Month', '% Beat after 1 Year'],
    y=bar.iloc[0],
    marker=dict(
        color='rgba(55, 128, 191, 0.7)',
        line=dict(
            color='rgba(55, 128, 191, 1.0)',
            width=2,
        )
    ),
    name='Individual Long Calls'
)
trace2 = go.Bar(
    x=['% Beat after 1 Week', '% Beat after 1 Month', '% Beat after 3 Month', '% Beat after 6 Month', '% Beat after 1 Year'],
    y=bar.iloc[1],
    marker=dict(
        color='rgba(219, 64, 82, 0.7)',
        line=dict(
            color='rgba(219, 64, 82, 1.0)',
            width=2,
        )
    ),
    name='Institution Long Calls'
)
trace3 = go.Bar(
    x=['% Beat after 1 Week', '% Beat after 1 Month', '% Beat after 3 Month', '% Beat after 6 Month', '% Beat after 1 Year'],
    y=bar.iloc[2],
    marker=dict(
        color='rgba(50, 171, 96, 0.7)',
        line=dict(
            color='rgba(50, 171, 96, 1.0)',
            width=2,
        )
    ),
    name='Individual Short Calls'
)
trace4 = go.Bar(
    x=['% Beat after 1 Week', '% Beat after 1 Month', '% Beat after 3 Month', '% Beat after 6 Month', '% Beat after 1 Year'],
    y=bar.iloc[3],
    marker=dict(
        color='rgba(191, 100, 219, 0.7)',
        line=dict(
            color='rgba(191, 100, 219, 1.0)',
            width=2,
        )
    ),
    name='Institution Short Calls'
)

data = [trace1, trace2, trace3, trace4]
layout = go.Layout(
    title='% of Calls that beat S&P500',
    xaxis=dict(title = 'Groups',
              autorange=True,
        showgrid=True,
        zeroline=True,
        zerolinewidth=2),
    yaxis=dict(
        title = 'Percentage',
        autorange=True,
        showgrid=True,
        zeroline=True,
        zerolinewidth=2),
    barmode='group'
)

fig = go.Figure(data=data, layout=layout)
py.plot(fig, filename='beat_percentage.html')

High five! You successfully sent some data to your account on plotly. View your plot in your browser at https://plot.ly/~jamesjynus/0 or inside your plot.ly account where it is named 'beat_percentage.html'

'https://plot.ly/~jamesjynus/0'

In [8]:
import pandas as pd
top20long = pd.read_csv('top20long.csv')
top20short = pd.read_csv('top20short.csv')

In [21]:
countlong = top20long.groupby('Ticker').count().sort_values('StartDate',ascending=False)[['StartDate']]
countshort = top20short.groupby('Ticker').count().sort_values('StartDate',ascending=False)[['StartDate']]

In [29]:
trace1 = go.Bar(
    x=countlong.index,
    y=countlong.StartDate,
    marker=dict(
        color='rgba(55, 128, 191, 0.7)',
        line=dict(
            color='rgba(55, 128, 191, 1.0)',
            width=2,
        )
    ),
    name='Stock Tickers'
)

data = [trace1]
layout = go.Layout(
    title='Most Popular Long Calls',
    xaxis=dict(title = 'Stock Tickers',
              autorange=True,
        showgrid=True,
        zeroline=True,
        zerolinewidth=2),
    yaxis=dict(
        title = 'Number of Articles',
        autorange=True,
        showgrid=True,
        zeroline=True,
        zerolinewidth=2),
    barmode='group'
)

fig = go.Figure(data=data, layout=layout)
py.iplot(fig, filename='Most Popular Long Tickers')

In [59]:
trace1 = go.Bar(
    x=countshort.index,
    y=countshort.StartDate,
    marker=dict(
        color='rgba(219, 64, 82, 0.7)',
        line=dict(
            color='rgba(219, 64, 82, 1.0)',
            width=2,
        )
    ),
    name='Stock Tickers'
)

data = [trace1]
layout = go.Layout(
    title='Most Popular Short Calls',
    xaxis=dict(title = 'Stock Tickers',
              autorange=True,
        showgrid=True,
        zeroline=True,
        zerolinewidth=2),
    yaxis=dict(
        title = 'Number of Articles',
        autorange=True,
        showgrid=True,
        zeroline=True,
        zerolinewidth=2),
    barmode='group'
)

fig = go.Figure(data=data, layout=layout)
py.plot(fig, filename='Most Popular Short Tickers')

'https://plot.ly/~jamesjynus/9'

In [36]:
total = pd.read_csv('total.csv', index_col = 0)

In [46]:
overview = total.groupby(['Strategy', 'Institution'])[['Ticker','Strategy','Institution']].count()
overview

                      Ticker  Strategy  Institution
Strategy Institution
Long     False          1327      1327         1327
         True            698       698          698
Short    False           218       218          218
         True            100       100          100

In [58]:
trace1 = go.Bar(
    x=['Long', 'Short'],
    y=[overview.Ticker[0],overview.Ticker[2]],
    marker=dict(
        color='rgba(55, 128, 191, 0.7)',
        line=dict(
            color='rgba(55, 128, 191, 1.0)',
            width=2,
        )
    ),
    name='Individual'
)
trace2 = go.Bar(
    x=['Long', 'Short'],
    y=[overview.Ticker[1],overview.Ticker[3]],
    marker=dict(
        color='rgba(219, 64, 82, 0.7)',
        line=dict(
            color='rgba(219, 64, 82, 1.0)',
            width=2,
        )
    ),
    name='Institution'
)

data = [trace1,trace2]
layout = go.Layout(
    title='Overview of the Data',
    xaxis=dict(title = 'Strategy',
              autorange=True,
        showgrid=True,
        zeroline=True,
        zerolinewidth=2),
    yaxis=dict(
        title = 'Number of Articles',
        autorange=True,
        showgrid=True,
        zeroline=True,
        zerolinewidth=2),
    barmode='stack'
)

fig = go.Figure(data=data, layout=layout)
py.plot(fig, filename='Overview')

'https://plot.ly/~jamesjynus/11'

In [52]:
overview.Ticker[2]

218